
.layout-container{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main{
  height: 56rem;
}

.dfv-img{
  width: 100%;
}

.impact-links{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: auto;
  font-family: 'DM Sans', sans-serif;
}
