.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 500px;
  margin: auto;
  background: #f3c295ad;
  padding: 24px;
  border-radius: 30px;
}

.card-image {
  height: 180px;
}

.home-name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-transform: capitalize;
  color: #e78124;
}

.location-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #e78124;
}

.cta-btn {
  width: 8rem;
  height: Fixed (57.63px);
  top: 1596.31px;
  left: 124.12px;
  padding: 5px;
  border-radius: 50px;
  gap: 10px;

  background-color: #e78124;
  border: none;
  color: white;
}

.desc-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}

.home-info-container {
  flex-grow: 1;
  margin: 1rem 0rem;
}
