$primary-brown: #e9801f;
$primary-white: #ffffff;
$primary-black: #000000;

/* Secondary colors */
$secondary-brown: #e78124;
$secondary-links: #c8905d;
$secondary-dark-brown: #eac28d;

/* Gradients */
$diagonal-gradient: linear-gradient(135deg, #c8905d, #eac28d);
$top-bottom-gradient: linear-gradient(to bottom, #eab98d, #ffead7);
