$primary-brown: #e9801f;
$primary-white: #ffffff;
$primary-black: #000000;
$primary-blue: #2f2e41;

/* Secondary colors */
$secondary-brown: #EAB98D;
$secondary-dull-brown: #c8905d;
$secondary-light-brown: #ffead7;
$border-grey: #D4D4D4;

/* Gradients */
$diagonal-gradient: linear-gradient(135deg, #eac28d, #ffead7);
$top-bottom-gradient: linear-gradient(to bottom, #eab98d, #ffead7);
