@use "./colors";
@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-row-center {
    display: flex;
    align-items: center;
}

%box-shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}
