.blog {
  margin-top: 30px;
  @include images('', 180px, 'blog-img', '');
  margin-bottom: 30px;

  .blog-img {
    border-radius: 5px;
    overflow: hidden;
  }
  .blog-main-card {
    background: $secondary-brown;
    //@include images(100%, 200px, "ant-card-cover", 180px);
  }
  .trending {
    cursor: pointer;
    &:hover {
      transform: scale(1.03);
      transition: transform 0.3s ease-in-out;
    }
  }
}
