$primary-brown: #e9801f;
$primary-white: #ffffff;
$primary-black: #000000;
$primary-blue: #2f2e41;

/* Secondary colors */
$secondary-brown: #eab98d;
$secondary-dull-brown: #c8905d;
$secondary-light-brown: #ffead7;
$border-grey: #d4d4d4;

/* Gradients */
$diagonal-gradient: linear-gradient(135deg, #eac28d, #ffead7);
$top-bottom-gradient: linear-gradient(to bottom, #eab98d, #ffead7);

// Reusable Styles
$general-side-paddng: 0px 30px;
$general-full-margin: 0px -30px;
