.discover-container {
  margin-top: 30px;
  margin-bottom: 30px;

  align-items: center;
  .search {
    max-width: 550px;
  }
  .discover-content {
    width: 100%;
    .filter {
      .checkboxes {
        display: flex;
        flex-direction: column;
        gap: 2px;
      }
    }
    .cards {
      width: 100%;
      margin: 0 !important;
      .causes-card {
        flex: 1;
        background: $secondary-light-brown;
        padding: 15px;
        .ant-card-body {
          padding: 10px 0px 0px 0px;
        }
        .donate {
          background: $primary-black;
          &:hover {
            background: $primary-brown;
          }
        }
        &[data-status="Donate"] {
          background: $secondary-brown;
          .donate {
            background: $primary-brown;
            &:hover {
              background: $primary-black;
            }
          }
        }

        @include images(100%, 150px, "ant-card-cover", 180px);
      }
    }
  }
}
