%user-menu-items {
  color: $primary-white;
  padding: 5px 10px;
  border-radius: 50px;
}
%header-footer {
  background: $diagonal-gradient;
  padding: $general-side-paddng;
}

.layout-container {
  min-height: 100vh;
  .header {
    @extend %header-footer;
    .header-menu {
      font-weight: 550;
      border: none;
      flex: auto;
      justify-content: flex-end;
      .ant-menu-item-selected {
        color: $primary-black;
      }
      li {
        &::after {
          border-bottom: none;
        }
      }
      li:nth-last-child(2) {
        > span {
          background: $primary-brown;
          @extend %user-menu-items;
        }
      }
    }
    .dropdown {
      margin-left: auto;
    }
  }
  .content {
    padding: $general-side-paddng;
    background: $primary-white;
    flex: 1;
  }
  .footer {
    padding: $general-side-paddng;
  }
}

.dropdown-overlay {
  li {
    padding: 5px 20px !important;
    color: $primary-brown !important;
  }
  .ant-dropdown-menu-item-selected {
    color: $primary-black !important;
    background: $secondary-light-brown !important;
  }
  li:nth-last-child(2) {
    background: $primary-black;
    color: $primary-white !important;
    margin-bottom: 5px !important;
  }
  li:nth-last-child(1) {
    background: $primary-brown;
    color: $primary-white !important;
  }
}
