.home-container {
    .hero {
        background: $diagonal-gradient;
        margin: 0 -40px;
        padding: 25px 40px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        .hero-title {
            font-family: DM Sans, sans-serif;
            span {
                color: $primary-brown;
            }
        }
    }
}
