.home-container {
    .hero {
        background: $diagonal-gradient;
        margin: $general-full-margin;
        padding: $general-side-paddng;
        padding-top: 25px;
        padding-bottom: 25px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        margin-bottom: 40px;
        .hero-title {
            span {
                color: $primary-brown;
            }
        }
        .hero-photo {
            display: flex;
            .hero-image-container {
                width: 370px;
                margin-left: auto;
                right: 0;
                border-radius: 20px;
                height: 120%;
                background-position: center;
            }
        }
    }
    .home-services {
        background: $diagonal-gradient;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
        padding: 25px 30px 40px 30px;
        border-radius: 30px;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;
        .title {
            margin: 0px auto 10px auto;
        }

        .services-card {
            min-width: 150px;
            background: $primary-white;
            border-radius: 20px;
            padding: 20px 10px;
            @extend %box-shadow;
            button {
                margin-top: auto;
            }
        }
    }
    .testimonials {
        margin-bottom: 40px;
        h1 {
            text-align: center;
            margin: auto;
            margin-bottom: 30px;
            span {
                color: $primary-brown;
            }
        }

        .carousel {
            button {
                color: $primary-blue;
            }
            .testimonial-card {
                width: 80%;
                flex-wrap: nowrap;
                @media (max-width: 576px) {
                    justify-content: center;
                    gap: 20px;
                    width: 100%;
                    flex-wrap: wrap;
                }
            }
            .slick-dots {
                bottom: -20px;
                li {
                    background: $primary-brown;
                    button {
                        &:hover {
                            background: $primary-blue;
                        }
                    }
                }
                .slick-active {
                    background: $primary-blue;
                    button {
                        background: $primary-blue;
                    }
                }
            }
        }
    }
}
