.services-container {
    @include images('', 250px, "services-hero", '');

    .services-hero {
        margin: $general-full-margin;
        margin-bottom: 30px;
        .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                /* Dark overlay with 50% opacity */
            }
        
            .title {
                color: $secondary-light-brown;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
        
            }
    }
          .tabs {
              .ant-tabs-nav {
                  &::before {
                      border: none;
                  }
              }
          }
}